{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="{% static 'images/logo_1.svg' %}" alt="">
            <div class="link">
                <a href="index.html">HOME</a>
                <a href="">ABOUT</a>
                <a href="">DONATIONS</a>
                <a href="">BLOG</a>
                <a href="">PAGES</a>
                <a href="">CONTACTS</a>
            </div>
            <div class="icons">
                <h2><ion-icon name="bag-handle-outline"></ion-icon></h2>
                <h2><ion-icon name="search-outline"></ion-icon></h2>
            </div>
            <button>DONATE NOW</button>
        </div>
        <div class="banner">
            <img src="{% static 'images/pagebreadcumbShapeBottom.svg' %}" class="img3" alt=""> 
            <div class="banner-image1">
                <img src="{% static 'images/pageBreadcumbBg1.jpg' %}" class="img1" alt="">
                <div class="banner-details">
                    <h1>ABOUT FOUNDATION</h1>
                    <h3><a href="index.html">Home</a> > <a href="about.html" style="color: #ff9900;">About</a></h3>
                </div>
            </div> 
            <img src="{% static 'images/pagebreadcumbShapeTop.svg' %}" class="img2" alt="">  
        </div>
        <div class="section1">
            <div class="section1-heading">
                <div class="about">
                    <h6><ion-icon name="heart"></ion-icon></h6>
                    <h5>ABOUT FOUNDATION</h5>
                </div>
                <h1>WE ARE ALWAYS THERE OTHERS NEED HELP</h1>
            </div>
            <div class="para">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, loremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,</p>
            </div>
        </div>
        <div class="section2">
            <div class="btns">
                <button>ABOUT FOUNDATION</button>
                <button>OUR MISSION</button>
                <button>OUR VISSION</button>
            </div>
            <div class="para">
                <p>Rorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, loremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,</p>
            </div>
            <div class="imgs">
                <div class="small-imgs">
                    <img src="{% static 'images/aboutDetailsthumb1.jpg' %}" alt="">
                    <img src="{% static 'images/aboutDetailsthumb3.jpg' %}" alt="">
                </div>
                <img src="{% static 'images/aboutDetailsthumb2.jpg' %}" class="imgs1" alt="">
            </div>
            <div class="section2-heading">
                <div class="about">
                    <h6><ion-icon name="heart"></ion-icon></h6>
                    <h5>HELP US OUR GOAL</h5>
                </div>
                <h1>SMALL DONATIONS MAKE BIGGER IMPACT ON SOMEONE’S LIFE, ACT TODAY!</h1>
            </div>
            <div class="circle-group">
                <div class="circles3">
                    <div class="circle1">
                        <h1>16000,<b style="color: #ff9900;font-weight: 500;">KG</b></h1>
                        <h5>FOOD</h5>
                        <p>We help local nonprofits access the funding, tools, training,</p>
                    </div>
                    <div class="circle2">
                        <h1>23,<b style="color: #ff9900;font-weight: 500;">MLN</b></h1>
                        <h5>FOOD</h5>
                        <p>We help local nonprofits access the funding, tools, training,</p>
                    </div>
                    <div class="circle3">
                        <h1>14000,<b style="color: #ff9900;font-weight: 500;">+</b></h1>
                        <h5>FOOD</h5>
                        <p>We help local nonprofits access the funding, tools, training,</p>
                    </div>
                </div>
                <div class="circles2">
                    <div class="circle4">
                        <h1>16000,<b style="color: #ff9900;font-weight: 500;">KG</b></h1>
                        <h5>FOOD</h5>
                        <p>We help local nonprofits access the funding, tools, training,</p>
                    </div>
                    <div class="circle5">
                        <h1>23<b style="color: #ff9900;font-weight: 500;">MLN</b></h1>
                        <h5>FOOD</h5>
                        <p>We help local nonprofits access the funding, tools, training,</p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="section3">
            <div class="para">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, loremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, voluptas sit aspernatur aut odit aut fugit, voluptas sit aspernatur aut odit aut fugit, voluptas si.</p>
            </div>
            <div class="section22-heading">
                <div class="about">
                    <h6><ion-icon name="heart"></ion-icon></h6>
                    <h5>WE CHANGE YOUR LIFE & WORLD</h5>
                </div>
                <h1>MEET OUR VOLUNTEERS</h1>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
</body>
</html>