{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body style="overflow-x: hidden;" class="body">
    <form class="create-view" action="{% url 'addBlood' %}" method="post" enctype="multipart/form-data" style="display: none;overflow-y: scroll;">
        {% csrf_token %}
        <!-- <img src="https://codercredit.com/tf/gainioz/image/illus/hero-bg-thumb-2.png" alt="" style="position: absolute;z-index: 0;opacity: 0.1;width: 100%;top: 20px;"> -->
        <div class="event-wrap" style="position: absolute;top:100px;margin-top: 0;">

        <img src="https://codercredit.com/tf/gainioz/image/illus/hero-bg-thumb-2.png" alt="" style="position: absolute;z-index: 0;opacity: 0.2;width: 100%;top: 0px;height: 100%;object-fit: cover;">

        <h1 style="position: absolute;top: -25px;right: 25px;color: white;cursor: pointer;font-size: 29px;" onclick="closeCreate()"><i class="fa-solid fa-xmark"></i></h1>
        <img src="https://cdn.pixabay.com/photo/2018/06/26/05/08/lab-3498584_960_720.jpg" alt="" class="post-img1 profile-pic" style="height: 250px;width: 100%;object-fit: cover;">

        <!-- <p style="color: white;margin-bottom: 35px;">Create Event</p> -->
        <div style="display: flex;justify-content: center;align-items: center;gap: 25px;margin-bottom: 25px;margin-top: -10px;position: absolute;top: 200px;right: 25px;">
            <!-- <img src="https://codercredit.com/tf/gainioz/image/featured/featuredThumb4.jpg" alt="" style="width: 250px;height: 120px;border-radius: 10px;object-fit: cover;"> -->
            <!-- <h3 style="position: relative;width: 160px;padding: 8px;background-color: #a47836;border-radius: 0px;color: white;font-size: 15px;text-align: center;font-weight: 500;cursor: pointer;"> <input type="file" name="image" id="file" style="position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: 0;" class="file" required onchange="setProfilePic(this)"> Choose Product Image</h3> -->
        </div>

            <h3 style="margin-top: 15px;">BLOOD DONATION FORM</h3>
       
            <input type="text" name="first" id="" required placeholder="First name" style="width: 90%;margin-bottom: 15px;margin-top: 25px;position: relative;background-color: white;">
            <input type="text" name="last" id="" required placeholder="Last name" style="width: 90%;margin-bottom: 15px;position: relative;background-color: white;">
            <input type="text" name="address" id="" required placeholder="Address" style="width: 90%;margin-bottom: 15px;position: relative;background-color: white;">

            <select name="type" required  style="width: 94%;margin-bottom: 15px;position: relative;background-color: white;
            padding: 10px;
            color: rgb(22, 22, 22);
            background-color: #ffffff;
            border: 1px solid #e5e5e5;
            outline: none;
            font-size: 17px;">
                <option>Select Blood Type</option>
                <option value="A Positive">A Positive</option>
                <option value="A Negative">A Negative</option>
                <option value="A Unknown">A Unknown</option>
                <option value="B Positive">B Positive</option>
                <option value="B Negative">B Negative</option>
                <option value="B Unknown">B Unknown</option>
                <option value="AB Positive">AB Positive</option>
                <option value="AB Negative">AB Negative</option>
                <option value="AB Unknown">AB Unknown</option>
                <option value="O Positive">O Positive</option>
                <option value="O Negative">O Negative</option>
                <option value="O Unknown">O Unknown</option>
                <!-- <option value="">Unknown</option> -->
              </select>
              <select name="gender" required  style="width: 94%;margin-bottom: 15px;position: relative;background-color: white;
            padding: 10px;
            color: rgb(22, 22, 22);
            background-color: #ffffff;
            border: 1px solid #e5e5e5;
            outline: none;
            font-size: 17px;">
                <option>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
                <!-- <option value="">Unknown</option> -->
              </select>
              <input type="number" name="age" id="" required placeholder="Age" style="width: 90%;margin-bottom: 15px;position: relative;background-color: white;" min="18">

    
        

        <button type="submit" class="donate-btn">Submit Blood Information</button>
        </div>
    </form>
    <input type="hidden" value="{{request.user.username}}" class="username1">

    <div class="event-view" style="z-index: 1500;">
        <h2 style="width: 50px;height: 50px;background-color: #262626;color: white;display: flex;justify-content: center;align-items: center;position: fixed;top: 25px;left: 25px;cursor: pointer;" onclick="back()"><i class="fa-solid fa-arrow-left"></i></h2>
        <div class="event-wrap" style="margin-top:80px;">
            <img src="{% static 'images/featuredCateShape1.png' %}" alt="" style="position: absolute;top: 0;left: 0;z-index: 10;width: 190px;">
            <h4 style="position: absolute;top: 10px;left: 20px;z-index: 10;z-index: 150;color: white;font-size: 22px;" class="category">#LIFE</h4>
            <div style="position: relative;width: 600px;">
                <img src="https://cdn.pixabay.com/photo/2018/06/26/05/08/lab-3498584_960_720.jpg" alt="" class="post-img">
                <div class="det" style="position: absolute;bottom: 0;width: 100%;height: 50px;background-color: rgb(28, 28, 28);display: flex;justify-content: space-around;align-items: center;color: white;">
                    <h3 style="font-size: 14px;font-weight:400;text-transform: uppercase;" class="user">Hosted By : {{event.user.username}}</h3>
                    <h3 style="font-size: 14px;font-weight:400;text-transform: uppercase;" class="date">Hosted on : {{event.date}}</h3>
                </div>
            </div>
            <img src="https://codercredit.com/tf/gainioz/image/illus/hero-bg-thumb-2.png" alt="" style="position: absolute;z-index: 0;opacity: 0.2;width: 100%;top: 300px;">
            <h1 class="title" >{{event.title}}</h1>
            <p class="description">{{event.description}}</p>
            
            <!-- <button style="width: 95%;padding: 10px;background-color: #219c58;color: white;cursor: pointer;border: none;outline: none;position: relative;display: none;justify-content: center;font-size: 17px;" class="buy" onclick="buyProduct()">Buy Now</button> -->
            


            

        </div>
    </div>

    <div class="container">
        <div class="navbar" style="z-index: 150;">
            <img src="{% static 'images/logo_1.svg' %}" alt="">
            <div class="link">
                <a href="{% url 'homepage' %}">HOME</a>
                <a href="{% url 'donation' %}">DONATIONS</a>
                <a href="{% url 'blog' %}">BLOG</a>
                <!-- <a href="">PAGES</a> -->
                <a  style="opacity: 0;user-select: none;pointer-events: none;">ABOUT</a>
                <a href="" style="opacity: 0;user-select: none;pointer-events: none;">CONTACTS</a>
            </div>
            <div class="icons">
                <h2 style="opacity: 0;pointer-events: none;"><ion-icon name="bag-handle-outline"></ion-icon></h2>
                <h2 style="opacity: 0;pointer-events: none;"><ion-icon name="search-outline"></ion-icon></h2>
            </div>
            {% if not request.user.is_authenticated %}
            <!-- <button style="background-color: #e8e8e8;color: black;" >Login</button> -->
            <button onclick="showLogin()" style="margin-left: -80px;">Login</button>
            {% else %}
            {% if not profile.is_an_organization %}
            {% if not blood %}
            <a onclick="showCreate()"><button style="background-color: #e8e8e8;color: black;" onclick="showCreateBlog()">Blood Donation Form</button></a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
        <div class="banner">
            <img src="{% static 'images/pagebreadcumbShapeBottom.svg' %}" class="img3" alt=""> 
            <div class="banner-image1">
                <img src="{% static 'images/pageBreadcumbBg1.jpg' %}" class="img1" alt="">
                <div class="banner-details">
                    <h1>BLOOD DONATION</h1>
                    <h3><a href="index.html">Home</a> > <a style="color: #ff9900;">> Donation</a><a style="color: #ff9900;"> > Blood Donation</a></h3>
                </div>
            </div> 
            <img src="{% static 'images/pagebreadcumbShapeTop.svg' %}" class="img2" alt="">  
        </div>

           <center>
            <h1 style="margin-top: 25px;">DONOR / BLOOD INFORMATION</h1>
            <p>Below are the list of donors</p>
           </center>

        <div class="blogs">
            {% for blood in bloods %}
            <div class="blog">

                <!-- <img src="{{product.image}}" alt="" class="bimg"> -->
                <center>

                    <img src="{{blood.profile}}" alt=""  style="width: 120px;height: 120px;border-radius: 100px;" >
                </center>
                <h3 style="font-weight: 500;line-height: 30px;height: 30px;overflow: hidden;text-align: center;text-transform: uppercase;" class="btitle">{{blood.type}} Blood</h3>
                <p style="line-height: 30px;opacity: 0.7;margin-top: 10px;height: 60px;overflow: hidden;text-align: center;" class="bdesc">Address : {{blood.address}}</p>
                <div style="display: block;justify-content: space-between;align-items: center;margin-top: -5px;margin-bottom: 25px;">
                    <div style="display: flex;gap: 15px;justify-content: center;align-items: center;">


    <h3 style="font-weight: 400;" class="username">Donor Name : {{blood.username}}</h3>

                    </div>
                    <p style="font-weight: 500;font-size: 13px;text-align: center;margin-top: 8px;opacity: 0.6;" class="bdate">{{blood.date}}</p>
                </div>

                <input type="hidden" name="" id="" value="{{product.category}}" class="categ">
                <a href="{% url 'bloodView' pk=blood.pk %}"><button style="width: 100%;padding: 10px;border: 2px solid rgb(230, 230, 230);background-color: rgb(238, 238, 238);outline: none;margin-top: 15px;font-size: 17px;cursor: pointer;" >view more</button></a>
            </div>
            {% endfor %}

        </div>
        
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

   <script>
     function showBlog(element){
        document.querySelector('.event-view').style.display = "flex"
        document.querySelector('.body').style.overflowY = "hidden"
        document.querySelector('.title').innerText = element.querySelector('.btitle').innerText
        document.querySelector('.description').innerText = element.querySelector('.bdesc').innerText
        document.querySelector('.post-img').src = element.querySelector('.bimg').src
        document.querySelector('.user').innerText = "POSTED BY : "+ element.querySelector('.username').innerText
        document.querySelector('.date').innerText = "POSTED ON : "+ element.querySelector('.bdate').innerText
        document.querySelector('.category').innerText = element.querySelector('.categ').innerText
        if(element.querySelector('.username').innerText != document.querySelector('.username1').value){
            document.querySelector('.buy').style.display = "flex"
        }
        else{
            document.querySelector('.buy').style.display = "none"
        }
        // document.querySelector('.categ').src = element.querySelector('.post-img').src
    }

    function back(){
        document.querySelector('.event-view').style.display = "none"
        document.querySelector('.body').style.overflowY = "scroll"
    }

    function setProfilePic(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // document.querySelector('.profile-pic').style.display = "flex"
                    // document.querySelector('.profile-pic-name').textContent = input.value.replace("C:\\fakepath\\","")
                    $('.profile-pic')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }

            // document.querySelector('.chooseImg').style.backgroundColor ="#06af50"
            // document.querySelector('.chooseImg').style.color ="#fff"
            // document.querySelector('.chooseImg').style.border ="2px soild #06af50"
        }

        function showCreateBlog(){
            document.querySelector('.create-view').style.display = "flex"
            document.querySelector('.body').style.overflowY = "hidden"
        }

        function closeCreate(){
            document.querySelector('.create-view').style.display = "none"
            document.querySelector('.body').style.overflowY = "scroll"
        }

        function buyProduct(){
            document.querySelector('.buy').innerText = "Bought Item. Order will be shipped to your address"
        }

   </script>
</body>
</html>