<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="donation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="logo_1.svg" alt="">
            <div class="link">
                <a href="index.html">HOME</a>
                <a href="about.html">ABOUT</a>
                <a href="donation.html">DONATIONS</a>
                <a href="">BLOG</a>
                <a href="">PAGES</a>
                <a href="">CONTACTS</a>
            </div>
            <div class="icons">
                <h2><ion-icon name="bag-handle-outline"></ion-icon></h2>
                <h2><ion-icon name="search-outline"></ion-icon></h2>
            </div>
            <button>DONATE NOW</button>
        </div>
        <div class="banner">
            <img src="pagebreadcumbShapeBottom.svg" class="img3" alt=""> 
            <div class="banner-image1">
                <img src="pageBreadcumbBg1.jpg" class="img1" alt="">
                <div class="banner-details">
                    <h1>DONATION DETAILS</h1>
                    <h3><a href="index.html">Home ></a>&nbsp&nbsp<a href="donation2.html" style="color: #ff9900;">Donation Details</a></h3>
                </div>
            </div> 
            <img src="pagebreadcumbShapeTop.svg" class="img2" alt="">  
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>   
</body>
</html>