{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body style="overflow-x: hidden;" class="body">
    <form class="create-view" action="{% url 'addProduct' %}" method="post" enctype="multipart/form-data" style="display: none;overflow-y: scroll;">
        {% csrf_token %}
        <!-- <img src="https://codercredit.com/tf/gainioz/image/illus/hero-bg-thumb-2.png" alt="" style="position: absolute;z-index: 0;opacity: 0.1;width: 100%;top: 20px;"> -->
        <div class="event-wrap" style="position: absolute;top:100px;margin-top: 0;">

        <img src="https://codercredit.com/tf/gainioz/image/illus/hero-bg-thumb-2.png" alt="" style="position: absolute;z-index: 0;opacity: 0.2;width: 100%;top: 0px;height: 100%;object-fit: cover;">

        <h1 style="position: absolute;top: -25px;right: 25px;color: white;cursor: pointer;font-size: 29px;" onclick="closeCreate()"><i class="fa-solid fa-xmark"></i></h1>
        <img src="https://cdn.pixabay.com/photo/2013/11/14/12/34/neckties-210347_960_720.jpg" alt="" class="post-img1 profile-pic" style="height: 250px;width: 100%;object-fit: cover;">

        <!-- <p style="color: white;margin-bottom: 35px;">Create Event</p> -->
        <div style="display: flex;justify-content: center;align-items: center;gap: 25px;margin-bottom: 25px;margin-top: -10px;position: absolute;top: 200px;right: 25px;">
            <!-- <img src="https://codercredit.com/tf/gainioz/image/featured/featuredThumb4.jpg" alt="" style="width: 250px;height: 120px;border-radius: 10px;object-fit: cover;"> -->
            <h3 style="position: relative;width: 160px;padding: 8px;background-color: #a47836;border-radius: 0px;color: white;font-size: 15px;text-align: center;font-weight: 500;cursor: pointer;"> <input type="file" name="image" id="file" style="position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: 0;" class="file" required onchange="setProfilePic(this)"> Choose Product Image</h3>
        </div>

            <h3 style="margin-top: 15px;">ADD PRODUCT</h3>
       
            <input type="text" name="title" id="" required placeholder="Product name" style="width: 90%;margin-bottom: 15px;margin-top: 25px;position: relative;background-color: white;">
            {% if profile.is_an_organization %}
            <input type="text" name="desc" id="" required placeholder="Product description" style="width: 90%;margin-bottom: 15px;position: relative;background-color: white;">
            {% else %}
            <input type="text" name="desc" id="" required placeholder="Address" style="width: 90%;margin-bottom: 15px;position: relative;background-color: white;">

            {% endif %}
            <select name="category" required  style="width: 94%;margin-bottom: 15px;position: relative;background-color: white;
            padding: 10px;
            color: rgb(22, 22, 22);
            background-color: #ffffff;
            border: 1px solid #e5e5e5;
            outline: none;
            font-size: 17px;">
                <option>Select category</option>
                <option value="electronics">Electronics</option>
                <option value="clothing">Clothing</option>
                <option value="books">Books</option>
                <option value="toys">Toys</option>
              </select>
              <!-- {% if not profile.is_an_organization %}
              <input type="text" name="address" id="" required placeholder="Address" style="width: 90%;margin-bottom: 15px;position: relative;background-color: white;">
              {% endif %} -->
              {% if profile.is_an_organization %}
              <input type="number" name="price" id="" required placeholder="Price" style="width: 90%;margin-bottom: 15px;position: relative;background-color: white;" min="1">
              {% endif %}
    
        

        <button type="submit" class="donate-btn">Add Product</button>
        </div>
    </form>
    <input type="hidden" value="{{request.user.username}}" class="username1">

    <div class="event-view" style="z-index: 1500;">
        <h2 style="width: 50px;height: 50px;background-color: #262626;color: white;display: flex;justify-content: center;align-items: center;position: fixed;top: 25px;left: 25px;cursor: pointer;" onclick="back()"><i class="fa-solid fa-arrow-left"></i></h2>
        <div class="event-wrap" style="margin-top:80px;">
            <img src="{% static 'images/featuredCateShape1.png' %}" alt="" style="position: absolute;top: 0;left: 0;z-index: 10;width: 190px;">
            <h4 style="position: absolute;top: 10px;left: 20px;z-index: 10;z-index: 150;color: white;font-size: 22px;" class="category">#LIFE</h4>
            <div style="position: relative;width: 600px;">
                <h2 class="price" style="position: absolute;top: 3px;left: 25px;color: white;padding: 8px;z-index: 25;">120$</h2>
                <img src="{{event.image.url}}" alt="" class="post-img">
                <div class="det" style="position: absolute;bottom: 0;width: 100%;height: 50px;background-color: rgb(28, 28, 28);display: flex;justify-content: space-around;align-items: center;color: white;">
                    <h3 style="font-size: 14px;font-weight:400;text-transform: uppercase;" class="user">Hosted By : {{event.user.username}}</h3>
                    <h3 style="font-size: 14px;font-weight:400;text-transform: uppercase;" class="date">Hosted on : {{event.date}}</h3>
                </div>
            </div>
            <img src="https://codercredit.com/tf/gainioz/image/illus/hero-bg-thumb-2.png" alt="" style="position: absolute;z-index: 0;opacity: 0.2;width: 100%;top: 300px;">
            <h1 class="title" >{{event.title}}</h1>
            <p class="description">{{event.description}}</p>
            
            <button style="width: 95%;padding: 10px;background-color: #219c58;color: white;cursor: pointer;border: none;outline: none;position: relative;display: flex;justify-content: center;font-size: 17px;opacity: 1;pointer-events: none;" class="buy1" onclick="buyProduct()">Buy Now</button>
            


            

        </div>
    </div>

    <div class="container">
        <div class="navbar" style="z-index: 150;">
            <img src="{% static 'images/logo_1.svg' %}" alt="">
            <div class="link">
                <a href="{% url 'homepage' %}">HOME</a>
                <a href="{% url 'donation' %}">DONATIONS</a>
                <a href="{% url 'blog' %}">BLOG</a>
                <!-- <a href="">PAGES</a> -->
                <a  style="opacity: 0;user-select: none;pointer-events: none;">ABOUT</a>
                <a href="" style="opacity: 0;user-select: none;pointer-events: none;">CONTACTS</a>
            </div>
            <div class="icons">
                <h2 style="opacity: 0;pointer-events: none;"><ion-icon name="bag-handle-outline"></ion-icon></h2>
                <h2 style="opacity: 0;pointer-events: none;"><ion-icon name="search-outline"></ion-icon></h2>
            </div>
            {% if not request.user.is_authenticated %}
            <!-- <button style="background-color: #e8e8e8;color: black;" >Login</button> -->
            <button onclick="showLogin()" style="margin-left: -80px;">Login</button>
            {% else %}
            {% if not profile.is_an_organization %}
            <a onclick="showCreate()"><button style="background-color: #e8e8e8;color: black;" onclick="showCreateBlog()">Donate Item</button></a>
            {% else %}
            <a onclick="showCreate()"><button style="background-color: #e8e8e8;color: black;" onclick="showCreateBlog()">Add Product</button></a>

            {% endif %}
            {% endif %}
        </div>
        <div class="banner">
            <img src="{% static 'images/pagebreadcumbShapeBottom.svg' %}" class="img3" alt=""> 
            <div class="banner-image1">
                <img src="{% static 'images/pageBreadcumbBg1.jpg' %}" class="img1" alt="">
                <div class="banner-details">
                    <h1>SHOP</h1>
                    <h3><a href="index.html">Home</a> > <a style="color: #ff9900;">> Shop</a></h3>
                </div>
            </div> 
            <img src="{% static 'images/pagebreadcumbShapeTop.svg' %}" class="img2" alt="">  
        </div>

        {% if profile.is_an_organization %}
        <center>
            <h1 style="margin-top: 25px;">DONATIONS</h1>
            <p>Below are the list of donations by various users</p>
           </center>

           <div class="blogs">
            {% for product in products %}
            {% if not product.added %}
            <div class="blog">

                <img src="{{product.image}}" alt="" class="bimg">
                
                <div style="display: flex;justify-content: space-between;align-items: center;margin-top: 15px;margin-bottom: 25px;">
                    <div style="display: flex;gap: 15px;justify-content: center;align-items: center;">

                        <img src="{{product.profile}}" alt="" class="author1">
                        <h3 style="font-weight: 400;" class="username">{{product.username}}</h3>
                    </div>
                    <p style="font-weight: 500;font-size: 13px;" class="bdate">{{product.date}}</p>
                </div>
                <input type="hidden" class="added" value="{{product.added}}">

                <h3 style="font-weight: 500;line-height: 30px;height: 30px;overflow: hidden;" class="btitle">{{product.name}}</h3>
                <p style="line-height: 30px;opacity: 0.7;margin-top: 10px;height: 60px;overflow: hidden;" class="bdesc">{{product.desc}}</p>
                <input type="hidden" name="" id="" value="{{product.category}}" class="categ">
                <button style="width: 100%;padding: 10px;border: 2px solid rgb(230, 230, 230);background-color: rgb(238, 238, 238);outline: none;margin-top: 15px;font-size: 17px;cursor: pointer;" onclick="showBlog(this.parentNode)">view more</button>
                <input type="hidden" class="p_price" value="{{product.price}}">
            </div>
            {% endif %}
            {% endfor %}

        </div>
        {% endif %}

           <center>
            <h1 style="margin-top: 25px;">SHOP</h1>
            <p>Below are the list of products</p>
           </center>

        <div class="blogs">
            {% for product in products %}
            {% if product.added %}
            <div class="blog">

                <img src="{{product.image}}" alt="" class="bimg">
                
                <div style="display: flex;justify-content: space-between;align-items: center;margin-top: 15px;margin-bottom: 25px;">
                    <div style="display: flex;gap: 15px;justify-content: center;align-items: center;">

                        <img src="{{product.profile}}" alt="" class="author1">
                        <h3 style="font-weight: 400;" class="username">{{product.username}}</h3>
                    </div>
                    <p style="font-weight: 500;font-size: 13px;" class="bdate">{{product.date}}</p>
                </div>
                <input type="hidden" class="added" value="{{product.added}}">

                <h3 style="font-weight: 500;line-height: 30px;height: 30px;overflow: hidden;" class="btitle">{{product.name}}</h3>
                <p style="line-height: 30px;opacity: 0.7;margin-top: 10px;height: 60px;overflow: hidden;" class="bdesc">{{product.desc}}</p>
                <input type="hidden" name="" id="" value="{{product.category}}" class="categ">
                <button style="width: 100%;padding: 10px;border: 2px solid rgb(230, 230, 230);background-color: rgb(238, 238, 238);outline: none;margin-top: 15px;font-size: 17px;cursor: pointer;" onclick="showBlog(this.parentNode)">view more</button>
                <input type="hidden" class="p_price" value="{{product.price}}">
            </div>
            {% endif %}
            {% endfor %}

        </div>
        
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

   <script>
     function showBlog(element){
        document.querySelector('.event-view').style.display = "flex"
        document.querySelector('.body').style.overflowY = "hidden"
        document.querySelector('.title').innerText = element.querySelector('.btitle').innerText
        document.querySelector('.description').innerText = element.querySelector('.bdesc').innerText
        document.querySelector('.post-img').src = element.querySelector('.bimg').src
        document.querySelector('.user').innerText = "POSTED BY : "+ element.querySelector('.username').innerText
        document.querySelector('.date').innerText = "POSTED ON : "+ element.querySelector('.bdate').innerText
        document.querySelector('.category').innerText = element.querySelector('.categ').innerText
        if(element.querySelector('.username').innerText != document.querySelector('.username1').value && element.querySelector('.added').value === "True"){
            document.querySelector('.buy1').style.display = "flex"
            document.querySelector('.buy1').style.opacity = "1"
            document.querySelector('.buy1').style.position = "relative"
            document.querySelector('.buy1').style.zIndex = "150"
            document.querySelector('.buy1').style.pointerEvents = "all"
            document.querySelector('.price').style.display = "flex"
            document.querySelector('.price').innerText = "₹" + element.querySelector('.p_price').value
            console.log("im in");
        }
        else{
            document.querySelector('.buy1').style.display = "none"
            document.querySelector('.buy1').style.opacity = "0"
            document.querySelector('.buy1').style.position = "absolute"
            document.querySelector('.price').innerText = "Donation"
        }

        // if(element.querySelector('.added').innerText == "True"){
        //     document.querySelector('.buy1').style.display = "flex"
        // }
        // else{
        //     document.querySelector('.buy1').style.display = "none"
        // }
        // document.querySelector('.categ').src = element.querySelector('.post-img').src
    }

    function back(){
        document.querySelector('.event-view').style.display = "none"
        document.querySelector('.body').style.overflowY = "scroll"
    }

    function setProfilePic(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // document.querySelector('.profile-pic').style.display = "flex"
                    // document.querySelector('.profile-pic-name').textContent = input.value.replace("C:\\fakepath\\","")
                    $('.profile-pic')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }

            // document.querySelector('.chooseImg').style.backgroundColor ="#06af50"
            // document.querySelector('.chooseImg').style.color ="#fff"
            // document.querySelector('.chooseImg').style.border ="2px soild #06af50"
        }

        function showCreateBlog(){
            document.querySelector('.create-view').style.display = "flex"
            document.querySelector('.body').style.overflowY = "hidden"
        }

        function closeCreate(){
            document.querySelector('.create-view').style.display = "none"
            document.querySelector('.body').style.overflowY = "scroll"
        }

        function buyProduct(){
            document.querySelector('.buy1').innerText = "Bought Item. Order will be shipped to your address"
        }

   </script>
</body>
</html>